/* Component styles */
html, body {
	background: transparent;
    background-color: transparent;
    color:white;
}
@font-face {
  font-family: 'Shivaji';
  src: url('Shivaji01.ttf');
}
.marathi{
	 font-family: 'Shivaji';
}
.component {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
}
.component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #d3d3d3;
}
.inline{
	display:inline;
}
#firstCol{
	font-size: 45px;
	width:20%;
}
#secondCol{
	font-size: 45px;
	width:20%;
}
#thirdCol{
	font-size: 45px;
	width:40%;
}
#fourthCol{
	font-size: 45px;
	width:20%;
}
.routeNoCircleTd{
	text-align: center;
}
#stopname{
	font-size: 55px;
	font-weight: bold;
}
#time{
	font-size: 40px;
	float:right;
	margin:0px;
}
.circle{
	background-color: black;
	color: white;
	width:100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	display:table-cell;
	vertical-align: middle;
}
.direction{
	font-size: 60px;
	font-weight: bold;
}
.serviceDest{
	text-align: center;
	font-size: 60px;
}
.serviceNo{
	font-size: 60px;
	font-weight: bold;
}

th h1{
	font-size: 40px;
}
.dueIn{
	font-size: 60px;
	font-weight: bold;
}
#next{
	font-size: 20px;
}
.soon{
	background-color: rgba(250,0,0,0.8);
}
.unavailable{
	background-color: #ddd;
	font-size: 50px;
	text-align: center;
}
p {
	font-size: 30px;
	font-weight: normal;
}
table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: rgba(255,255,255,0.7);
}

td, th {
    padding:10px;
    text-align: center;
}
	td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
.trth{
	font-size: 32px;
	font-weight: bold;
}
thead img{
	height:50px;
	margin-right: 10px;
	vertical-align: bottom;
}
thead th{
	background-color: rgba(0,0,0,0.8);
	color:white;
}
th {
    background-color: black;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

tbody th {
	background-color: rgba(0,8,255,1);
	color:white;
	padding: 15px;
}
tbody tr:nth-child(2n) {
    background-color: rgba(0,8,245,0.8);
    transition: all .125s ease-in-out;
}
tbody tr:nth-child(2n-1) {
    background-color: rgba(0,8,245,0.9);
    transition: all .125s ease-in-out;
}
.marathiHead{
	font-size:45px;
}




